img {
    border-radius: 50%;
    max-width: 100%;
    border: 1px solid black;
}

picture {
    max-width: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

picture.is-small {
    max-width: 50px;
}

picture.is-large {
    max-width: 200px;
}

img.disabled {
    opacity: 0.5;
}

.avatars {
    display: flex;
    gap: 10px;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}