img {
    border-radius: 50%;
    max-width: 100px;
}

picture {
    max-width: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img.disabled {
    opacity: 0.5;
}

.avatars {
    display: flex;
    gap: 10px;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}